# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
bower_components/

# Coverage directory
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache





